<html class="mdl-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description"
          content="Mix-IT, it's 2 intense days of conferences to discover new ideas, games to learn, development or creative workshops">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mix-IT</title>
    <base href="/">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- Web Application Manifest -->
    <link rel="manifest" href="manifest.json">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Mix-IT">
    <link rel="icon" sizes="192x192" href="img/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Mix-IT">
    <link rel="apple-touch-icon" href="img/touch/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="img/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#0277bd">
    <meta name="google-site-verification" content="qDFxcAv1zhCLUhj0mMn9Nk_tEk0DCH02Dn6QHZP9Is8">

    <!-- Color the status bar on mobile devices -->
    <meta name="theme-color" content="#0277bd">

    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="styles/vendors.min.css">
    <link rel="stylesheet" href="styles/cesar.min.css">
</head>
<body style="" class="">

<!--[if lte IE 9]>
<div class="cesar-container">
    <p>&nbsp;</p>
    <h1 class="browserupgrade center">You are using an <strong>outdated</strong> browser. Please <a
            href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</h1>
    <p>You can use IE>10, Firefox, Chrome, Safari...</p>
</div>
<![endif]-->

<div class="mdl-layout__container">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header is-upgraded" data-upgraded=",MaterialLayout">

        <main class="cesar-layout__content mdl-layout__content">

            <!--HEADER-->

            <div class="cesar-headband">
                <div class="cesar-imagebanner-filter">
                    <div class="cesar-headband-header">
                        <a href="/"><img src="images/logo/logo-mixit-transparent.svg"></a>
                        <div style="float: right;padding: 1em">
                            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab american-flag" data-upgraded=",MaterialButton">
                                {{#ifEq locale "en"}}<a href="/"><img class="cesar-menu__lang" src="images/lang/fr.svg" /></a>{{/ifEq}}
                                {{#ifEq locale "fr"}}<a href="/en/"><img class="cesar-menu__lang" src="images/lang/us.svg" /></a>{{/ifEq}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!--TAGLINE-->

            <div class="cesar-headband">
                <div class="cesar-imagebanner-filter">
                    <div class="">
                        &nbsp;
                    </div>
                    <div class="cesar-imagebanner__content">
                        <div class="cesar-section">
                            <h1 class="cesar-imagebanner-blink">
                                <span class="cesar-imagebanner-blink__head">Mix-IT</span><br>
                                <span class="cesar-imagebanner-blink__content"
                                      id="headbandComeback">{{message "home.headband.comeback"}}</span>
                            </h1>
                            <div class="cesar-text" style="vertical-align: center">
                                <img src="images/icon/calendar.svg">&nbsp;{{message "home.headband.date"}}
                                <img src="images/icon/map-marker.svg">&nbsp;<a ui-sref="venir" href="/venir">CPE,
                                Lyon</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--SPONSORS-->

            <div class="cesar-section cesar-info-panel">
                <div class="cesar-container">
                    <div class="mdl-grid cesar-section--bottom">
                        <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-phone mdl-cell--12-col-tablet cesar-info__content">
                            <h2>{{message "home.sponsor.title"}}</h2>
                            <p class="cesar-text">
                                <span>{{message "home.sponsor.presse"}}</span>&nbsp;
                                <a target="sponsor" href="/docs/presse/leaflet/fr"><span>{{message
                                        "home.sponsor.presseend"}}</span></a>
                            </p>
                            <p class="cesar-text">
                                <span>{{message "home.sponsor.annonce"}}</span>&nbsp;
                                <a target="sponsor"
                                   href="/docs/sponsor/leaflet/fr"><span>{{message
                                        "home.sponsor.annonceend"}}</span></a>

                                <span>{{message "home.sponsor.return"}}</span>&nbsp;
                                <a target="sponsor"
                                   href="/docs/sponsor/form/fr"><span>{{message "home.sponsor.form"}}</span></a>
                                <span>{{message "home.sponsor.at"}}</span> <a>contact @ mix-it.fr</a></p>
                            <p>&nbsp;</p>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--12-col-tablet cesar-info__content">
                            <h2>{{message "home.info.section1"}}</h2>
                            <p class="cesar-text">{{message "home.info.section1content"}}</p>
                            <p><span>{{message "home.info.oldconf"}}</span>&nbsp;
                                <a href="/mixit16">2016</a>,&nbsp;
                                <a href="/mixit15">2015</a>,&nbsp;
                                <a href="/mixit14">2014</a>,&nbsp;
                                <a href="/mixit13">2013</a>&nbsp;,
                                <a href="/mixit12">2012</a></p>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--12-col-tablet cesar-info__content">
                            <h2>{{message "home.info.section2"}}</h2>
                            <p class="cesar-text">{{message "home.info.section2content"}}</p>
                        </div>
                    </div>


                </div>
            </div>

            <!--SPEAKERS-->

            <div class="cesar-speaker">
                <div class="cesar-imagebanner-filter cesar-speaker-head">
                    <div class="cesar-imagebanner__content">
                        <div class="cesar-section">
                            <h1 class="cesar-imagebanner-blink">
                                <span class="cesar-imagebanner-blink__head">Speakers</span><br>
                                <span class="cesar-imagebanner-blink__content"></span>
                                <span>{{message "home.speaker.top"}}</span>&nbsp;
                                <a class="link" href="/article/163">Joel Spolsky</a>
                            </h1>
                            <p class="center cesar-text">
                                <span>{{message "home.speaker.title"}}</span>
                            </p>
                            <div style="display: flex">
                                <ul>
                                    <li>Dan North <a href="https://twitter.com/tastapod">
                                        <img src="images/social/twitter.svg"></a>
                                    </li>
                                    <li>Pamela Fox <a href="https://twitter.com/pamelafox">
                                        <img src="images/social/twitter.svg"></a>
                                    </li>
                                    <li>Matti Schneider <a href="https://twitter.com/matti_sg">
                                        <img src="images/social/twitter.svg"></a>
                                    </li>
                                    <li>Bodil Stokke <a href="https://github.com/bodil">
                                        <img src="images/social/twitter.svg"></a>
                                    </li>
                                    <li>Dan Allen <a href="https://twitter.com/mojavelinux">
                                        <img src="images/social/twitter.svg"></a>
                                    </li>
                                </ul>
                                <ul>
                                    <li>Tim Urban <a href="https://twitter.com/waitbutwhy">
                                        <img src="images/social/twitter.svg"></a>
                                    </li>
                                    <li>Katrina Owen <a href="https://twitter.com/kytrinyx">
                                        <img src="images/social/twitter.svg"></a>
                                    </li>
                                    <li>Pierre Piezzardi <a href="https://twitter.com/ppezziardi">
                                        <img src="images/social/twitter.svg"></a>
                                    </li>
                                    <li>Tristan Nitot <a href="https://twitter.com/nitot">
                                        <img src="images/social/twitter.svg"></a>
                                    </li>
                                    <li>...</li>
                                </ul>
                            </div>
                            <p>&nbsp;</p>
                            <p class="center cesar-text">{{message "home.speaker.cfp"}}</p>
                        </div>
                    </div>
                </div>
                <div class="cesar-speaker-content visible-on-desktop">
                    &nbsp;
                </div>
            </div>

            <!--FOOTER-->

            <div class="cesar-footer">
                <div class="cesar-container">
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--8-col mdl-cell--12-col-phone">
                            <h3>{{message "footer.whoarewe.title"}}</h3>

                            <p><span>{{message "footer.whoarewe.content"}}</span>&nbsp;(<a href="/staff">{{message
                                    "footer.whoarewe.more"}}</a>)</p>

                        </div>
                        <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone">
                            <h3>{{message "footer.contactus"}}</h3>
                            <ul class="cesar-footer--social">
                                <li><a href="https://twitter.com/mixit_lyon" target="social"><img
                                        src="images/social/twitter.svg" rel="contact" style=" fill: #ffffff;">&nbsp;@mixIT_lyon</a>
                                </li>
                                <li><a href="https://plus.google.com/106629477368826686108/about" rel="contact"
                                       target="social"><img src="images/social/google.svg">&nbsp;+mix-IT</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="cesar-subfooter">
                    <div class="cesar-container cesar-footer__copyright">
                        &nbsp;<a class="grey-text text-lighten-4" href="/api/article/rss/" rel="alternate" title="RSS"
                                 type="application/rss+xml">
                        <span>{{message "footer.rss"}}</span>
                    </a>

                        &nbsp;&nbsp;
                        <a class="grey-text text-lighten-4" href="http://confcodeofconduct.com/index-fr.html"
                           target="_blank">
                            <span>{{message "footer.codeofconduct"}}</span>
                        </a>

                        <span class="right visible-on-desktop ng-binding">
                            © 2016 Copyright Mix-IT - v 2.1.87
                        </span>

                    </div>
                </div>
            </div>
        </main>

    </div>
</div>

<script async="" src="//www.google-analytics.com/analytics.js"></script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-8046496-2', 'auto');
</script>

</body>
</html>